

<!-- A partial view ejs file containing contents for home page -->
<main class="container p-5 pt-6">
    <div class="p-5 mb-5 home-wrapper">
        <h1 class="display-3 text-center fw-bold">Hi! My name is Guo Huang.<br> 
        Wellcome to H.G Software World!<br>
        </h1>
        <h4 class="text-center fw-light fs-4 mt-5"> Software Design • General Programming • Web development</h4>
        <br><br><br>
        <!-- Use flex display to show boxes that link to different pages -->
        <div class="home-nav d-flex flex-wrap align-items-center justify-content-evenly text-wrap text-break fs-3 fw-bold">
            <!-- About -->
            <a aria-current="page" href="/about">
                <div class="my-3 d-flex align-items-center justify-content-center home-nav-box" >
                    <div class="">About Me</div>
                </div>
            </a>
            <!-- Projects -->
            <a aria-current="page" href="/projects">
                <div class="my-3 d-flex align-items-center justify-content-center home-nav-box" >
                    <div class="">Projects</div>
                </div>
            </a>
            <!-- Services -->
            <a aria-current="page" href="/services">
                <div class="my-3 d-flex align-items-center justify-content-center home-nav-box" >
                    <div class="">Services</div>
                </div>
            </a>
            <!-- Contact -->
            <a aria-current="page" href="/contact">
                <div class="my-3 d-flex align-items-center justify-content-center home-nav-box" >
                    <div class="">Contact Me</div>
                </div>
            </a>
        </div> 
    </div>
</main>

