<!-- Projects page - 3 projects are shown with images and information -->



<h1><%= title %></h1>
<div class="p-5 pt-3">
    <br><hr><br>
    <img src="../Assets/images/portfolio640x320.png" alt="project 1" style="border-color: saddlebrown;border-style: double;border-radius :10px;"/>
    <h2 class="mt-2">Portfolio Project</h1>
    <article class="fs-5">I created my portfolio website using ExpressJS and implementing the EJS templating engine, by following instructions of my Professor.</article>
    <br><br><hr><br><br>
    <img src="../Assets/images/tpshop640x320.png" alt="project 2" style="border-color: saddlebrown;border-style: double;border-radius :10px;"/>
    <h2 class="mt-2">TPSHOP Project</h1>
    <article class="fs-5">It is an online retail application project.  I participated the testing of some system modules.</article>
    <br><br><hr><br><br>
    <img src="../Assets/images/shuttlebus640x320.png" alt="project 3" style="border-color: saddlebrown;border-style: double;border-radius :10px;"/>
    <h2 class="mt-2">Shuttle Bus Tracking Project</h1>
    <article class="fs-5">A fun project geting info from an API and display. It is useful that allows people to inspect shuttle bus stops and displays the real-time bus-position data.</article>
    <br><br>
</div>

