 <!-- Filename: views/partials/about.ejs
Guo Huang (# 301303940)
Creation date: 2023/01/20
last revision: 2023/02/09 -->

<!-- The about me page -->
<h1><%= title %></h1>
<div class="d-flex py-4 justify-content-center align-items-center flex-wrap">
    <!-- the profile picture -->
    <div class="flex-shrink-0 mx-5">
        <img src="../Assets/images/profile_pic.png" style="border-color: saddlebrown;border-style: double;border-radius :20px;">
    </div>
    <!-- Description -->
    <div class="mx-5 pb-5 about" >
        <h1 class="mx-5 text-center">Huang, Guo</h1>
        <article class="fs-4">I am currently enrolled in Centennial College completing an Ontario Diploma to persue my dream as a software engineer.  I have always been working on improving my skills in the fields of Database, Software Engineering, and Application Development.</article><br>
        <a class="text-decoration-underline fs-3 mt-5" href="Assets/documents/GuoHuang_Resume.pdf" target="_blank">My Resume</a>
    </div>
</div>