<!-- A contact form. Submission redirects to home page for now, 
    capturing the values for First Name, last name, number, email address and the message. -->
    
    <h1><%= title %></h1>
    <div class="md-4 container">
    <!-- Contact information -->
        <div class="row">
            <p>Guo Huang<br>
            (647)878-0509<br>
            ghuang24@my.centennialcollege.ca</p>
        </div>
    <!-- Contact form -->
        <div class="w-60 row">
            <div class="card">
                <!-- return to index.js when submitted -->
                <form action="/">
                    <div class="form-group">
                        <label for="email">Name:</label>
                        <input type="input" class="form-control" id="name" placeholder="Enter Name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Phone:</label>
                        <input type="tel" class="form-control" id="telephone" placeholder="Enter Phone Number" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="comment">Message:</label>
                        <textarea class="form-control" rows="5" id="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div> 
        </div>
    </div>
