<!-- Services Page with service list and images -->
<h1><%= title %></h1>
    <br><br>
    <div class="row p-5 pt-3">
        <div class="col-md-4">
          <div class="col-md-12 fs-4">
            <i class="fa-solid fa-bezier-curve"></i>
            <p>Software Design</p>
          </div>
          <br>
            <div class="services">
            <img src="../Assets/images/software320.png " alt="software design" class="services-img" style="border-color: saddlebrown;border-style: double;border-radius :10px;" />
            </div>
            <br>
        </div>

        <div class="col-md-4">
          <div class="col-md-12 fs-4">
            <i class="fa-solid fa-code"></i>
            <p>General Programming</p>
          </div>
          <br>
            <img src="../Assets/images/programming320.png" alt="general programming" class="services-img" style="border-color: saddlebrown;border-style: double;border-radius :10px;" />
            <br>
        </div>

        <div class="col-md-4">
            <div class="col-md-12 fs-4">
              <i class="fab fa-node-js"></i>
              <p>Web Development</p>
            </div>
            <br>
            <img src="../Assets/images/webapp320.png" alt="web development" class="services-img" style="border-color: saddlebrown;border-style: double;border-radius :10px;"/>
            <br>
          </div>
    </div>
    