<!--Main Nav Section-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<div class="container-fluid">-->
      <a class="navbar-brand" href="#">
        <img src="/Assets/images/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Guo Huang
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if(title=="Home"){%>
          <li class="nav-item active">
            <%}else{%>
            <li class="nav-item">
             <%}%>
             <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a>
          </li>
          <% if(title=="About"){%>
          <li class="nav-item active">
            <%}else{%>
              <li class="nav-item">
               <%}%>
            <a class="nav-link active" aria-current="page" href="/about"><i class="fa-solid fa-address-card"></i> About</a>
          </li>
          <% if(title=="Projects"){%>
          <li class="nav-item active">
            <%}else{%>
              <li class="nav-item">
               <%}%>
            <a class="nav-link active" aria-current="page" href="/projects"><i class="fa-brands fa-r-project"></i> Projects</a>
          </li>
          <% if(title=="Services"){%>
          <li class="nav-item active">
            <%}else{%>
              <li class="nav-item">
               <%}%>
            <a class="nav-link active" aria-current="page" href="/services"><i class="fa-brands fa-servicestack"></i> Services</a>
          </li>
          <% if(title=="Services"){%>
            <li class="nav-item active">
              <%}else{%>
                <li class="nav-item">
                 <%}%>
              <a class="nav-link active" aria-current="page" href="/contact"><i class="fa-sharp fa-solid fa-file-signature"></i> Contact</a>
            </li>

            <li class="nav-item">
              <% if (title == "Contact List") { %>
                <a class="nav-link active text success" aria-current="page" href="/contact-list"><i class="fas fa-list"></i> Contact List </a>
              <% } else { %> 
              <a class="nav-link" href="/contact-list"><i class="fas fa-list"></i> Contact List </a>
              <% } %>
            </li>
  
            
            <% if (typeof displayName == 'string' && displayName) { %>
                    <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
                    <li class="nav-item"><a href="/logout" class="nav-link">
                    <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
              <% } else { %>
                    <li class="nav-item"><a href="/login" class="nav-link">
                    <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
              <% } %>
          
          
      </div>
    <!--</div>-->
  </nav>



