/************************
COMPP229 Assignment 1
File Name: app.css
Student's Name: Guo Huang
Student ID: 301303940
Date: 2023-02-09
************************/

/* custom css goes here */

body {
    color: rgb(26, 25, 25);
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f8fbfc; 
    min-height: 100vh; 
    position: relative;
    padding-top: 0px;
}


a {
    color: white;
    text-decoration: underline;
}

a:visited, a:link {
    color: white;
}

a:hover, a:active {
    color: #4B7AB0;
}

/* Top navigation bar */
.main-nav {
    background-color: #d5e3f5;
}

/* Home Page */
.home-nav a{
    color: rgb(124, 122, 122);
    text-decoration: none;
}

.home-nav a:hover {
    color: white;
}

.home-wrapper {
    background-color: gray;
}

.home-nav-box {
    background-color: #233e4d;
    height: 220px;
    width: 220px;
}

/* About page */
.about {
    min-width: 300px; 
    width: 50vw;
}

.about-img {
    width: 300px;
}

/* Projects page */
.projects-img {
    width: 80vw; 
    max-width: 800px;
}

/* Services */
.services {
    width:500px;
    height:400px;
    border:1px solid black;
    display: table-cell;
    vertical-align: middle;
}
.services-img  {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

/* Contact page */
.contact-form-input {
    width: 20%;
    min-width: 280px;
    margin-bottom: 5px;
}

.contact-form-msg {
    width: 55%;
    height: 170px;
    min-width: 280px;
}

/* Footer */
.footer {
    position: absolute; 
    padding: 5px 15px; 
    bottom: 0; 
    width: 100%; 
    background-color: #4B7AB0; 
    color:#222D33;
}

/* contactlist - list */
th, td { width: 200px }

th#op { width: 400px }

th#email { width: 400px }

td#emailAdd { width: 400px }